[Unit]
Description=Barrenero telegraf extension
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory={{ app.path }}
ExecStart=/usr/bin/python3.6 make run
ExecStop=/usr/bin/docker stop -t 2 {{ app.name }}
RemainAfterExit=true
